#
# Copyright (C) 2024 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config LIB_CARES
	bool "Enable lib c-ares"
	depends on LIBC_FLOATINGPOINT
	depends on NETDB_RESOLVCONF
	default n

if LIB_CARES

config LIB_CARES_TIMEOUT
	int "Default DNS receive timeout"
	default 2000
	---help---
		This is the timeout value when DNS receives response after
		query send, each timeout will wait twice as long as the
		previous timeout. If the timeout in the process is greater
		than LIB_CARES_MAXTIMEOUT, the LIB_CARES_MAXTIMEOUT shall prevail
		unit: milliseconds.

config LIB_CARES_MAXTIMEOUT
	int "Maximum DNS receive timeout"
	default 2000
	--help--
		Maximum DNS receive timeout, unit: milliseconds.

config LIB_CARES_TRIES
	int "Number of retries for DNS request"
	default 8
	---help---
		This setting determines how many times resolver retries request
		until failing.

config UTILS_CARES
	tristate "Enable c-ares command line"
	default n

if UTILS_CARES

config UTILS_CARES_PRIORITY
	int "c-ares task priority"
	default 100

config UTILS_CARES_STACKSIZE
	int "c-ares stack size"
	default DEFAULT_TASK_STACKSIZE

endif

endif
