#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LIB_ARM2D
	bool "Arm-2D graphics library"
	default n
	select CMSIS
	select CMSIS_DSP
	---help---
		Enable support for the Arm-2D library.
