#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config UTILS_MMC
	bool "MMC tools"
	default n
	---help---
		mmc-utils is a tool for configuring MMC
		storage devices from userspace.
