#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config OFONO
	tristate "Open Source Telephony"
	depends on LIB_DBUS && LIB_GLIB
	default n
	---help---
		Ofono is a telephony host stack specifically targeted at
		mobile embedded and desktop systems.

if OFONO

config OFONO_PRIORITY
	int "Ofono daemon task priority"
	default 100

config OFONO_STACKSIZE
	int "Ofono daemon stack size"
	default 9216

config OFONO_RILMODEM
	bool "Support RIL modem"
	default n
	---help---
		Enable RIL modem.

config OFONO_ATMODEM
	bool "Support AT modem"
	default n
	---help---
		Enable AT modem driver and support vendor AT modem.

config OFONO_PHONESIM
	bool "Support phonesim modem"
	default n
	depends on OFONO_ATMODEM
	---help---
		Enable phone simulator

config OFONO_HUAWEIMODEM
	bool "Support huawemi at modem"
	default n
	depends on OFONO_ATMODEM
	---help---
		Enable huawei AT modem driver.

config OFONO_UNITTEST
	bool "Support unit test"
	default n
	depends on OFONO_RILMODEM
	---help---
		Enable unit test for ofono.

config OFONO_SYSCONF_DIR
	string "The direcory for system configuration files"
	default "/etc/ofono"
	---help---
		Directory for the system configuration files.

config OFONO_PLUGIN_DIR
	string "The direcory for loading plugins"
	---help---
		Directory for the loading plugins.

endif
