#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GOLDFISH_RILD
	bool "Enable Goldfish RILD"
	default n
	---help---
		Enable goldfish rild

if GOLDFISH_RILD

config GOLDFISH_RILD_PRIORITY
	int "Rild task priority"
	default 100

config GOLDFISH_RILD_STACKSIZE
	int "Rild stack size"
	default 4096

endif
