#
# Copyright (C) 2023 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config OPTEE_OS
	bool "optee os"
	default n
	---help---
		"optee os"

config ENABLE_CRYPTO_SM3
	bool "sm3 crypto"
	depends on OPTEE_OS
	default n

choice
	prompt "Select optee fs"
	default OPTEE_REE_FS

config OPTEE_REE_FS
	bool "enable ree fs in optee os"

config OPTEE_RPMB_FS
	bool "enable rpmb fs in optee os"
	depends on OPTEE_OS && BLK_RPMSG

if OPTEE_RPMB_FS

config OPTEE_RPMB_REMOTE_CPU
	string "remote cpu where rpmb device is located"
	default "ap"

config OPTEE_RPMB_WRITE_KEY
	bool "enable rpmb key derived from huks(Only for testing and factory setup)"
	default n

config OPTEE_RPMB_TESTKEY
	bool "enable using the default rpmb key(Only for testing)"
	default n

config OPTEE_HUK_SUBKEY_COMPAT
	bool "enable using subkeys derived from dieid"
	default n

config OPTEE_RPMB_COMPAT_MITEE_FS
	bool "enable rpmbfs to compat with mitee fs"
	default n

endif # OPTEE_RPMB_FS

endchoice

config OPTEE_COMPAT_MITEE_FS
	bool "to compat with mitee fs"
	depends on OPTEE_OS
	default n
