#
# Copyright (C) 2020 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

menuconfig LIB_RLOTTIE
	bool "Enable rlottie"
	default n

if LIB_RLOTTIE

menuconfig LOTTIE_MODULE
	bool "Ebable lottie module"
	default n

if LOTTIE_MODULE

config LOTTIE_MODULE_PATH
	string "select the lottie module file path"

endif

config LOTTIE_THREAD_SUPPORT
	bool "Enable lottie thread support"
	default n

config LOTTIE_CACHE_SUPPORT
	bool "Enable lottie cache support"
	default n

config LOTTIE_LOGGING_SUPPORT
	bool "Enable lottie log support"
	default n

endif

