#
# Copyright (C) 2020 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config BENCHTEST
	tristate "benchtest"
	default n
	depends on LIBC_EXECFUNCS

if BENCHTEST

config BENCHTEST_STACKSIZE
	int "benchtest stack size"
	default 8192

config BENCHTEST_PRIORITY
	int "benchtest priority"
	default 100

config BENCHTEST_DURATION
	int "benchtest duration"
	default 1

config BENCHTEST_STRING_TESTS
	tristate "Enable String / WString Test"
	default n
	---help---
		When enabling this option, ensure that the _start_impl section exists

choice
	prompt "Libc Benchtest String / WString Test Case configuration"
	default BENCHTEST_STRING
	depends on BENCHTEST_STRING_TESTS

config BENCHTEST_STRING
	bool "Build String Test"

config BENCHTEST_WSTRING
	bool "Build WString Test"

endchoice

endif
