#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LIB_QPOASES
	bool "qpoases library"
	default n

if LIB_QPOASES

config LIB_QPOASES_TESTCASE
	tristate "qpoases library passability test"
	default n
	---help---
		Used to check whether there will be any problems
		with the library running on NuttX

endif
